<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/styles.css" />
</head>
<body>
    <header class="top-nav">
        <nav class="navbar">
            <h1 class="nav-logo"><a href="/">Journal</a></h1>
            <ul class="nav-list">
                <li class="nav-item"><a href="/" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="/contact" class="nav-link">Contact Us</a></li>
            </ul>
            <a href="/compose" class="nav-btn btn-sl">
                <i class="fas fa-feather-alt nav-btn-icon"></i>
                <span class="nav-btn-text">Compose</span>
            </a>
        </nav>
    </header>

	<div class="container">