<%- include("./partials/header") -%>

<main>
    <article class="post">
        <h1 class="post-title"><%= indvPostTitle %></h1> 
        <hr class="content-divider">
        <p class="content-text"><%= indvPostBody %></p>
    </article>
</main>
    
<%- include("./partials/footer") -%>